<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOD</title>

    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
</head>

<body>

    <iframe src="particles.html"></iframe>
    <main>

    </main>

    <div class="bgimg-1">
        <div class="caption">
            <!-- <span class="border">SCROLL DOWN</span> -->
        </div>
    </div>

    <div class='myclass'>
        <!--   all your other divs part of the web content (images,text,etc) -->

    </div>
    <!-- particles.js container -->
    <div id="particles-js"></div>


    <div>
        <div id="links">
            <button class="purple">About</button>
            <button class="blue">Projects</button>
            <button class="green">Contact</button>

        </div>
        <div id="content">
            <div id="name">
                <span class="logo">
                    <span id="j" class="letter">J</span>
                    <span id="u" class="letter">U</span>
                    <span id="l" class="letter">L</span>
                    <span id="i" class="letter">I</span>
                    <span id="a" class="letter">A</span>
                    <span id="n" class="letter">N</span>
                </span>
                <span class="logo">
                    <span id="s" class="letter">S</span>
                    <span id="a" class="letter">A</span>
                    <span id="n" class="letter">N</span>
                    <span id="d" class="letter">D</span>
                    <span id="e" class="letter">E</span>
                    <span id="r" class="letter">R</span>
                    <span id="s" class="letter">S</span>
                    <span id="i" class="letter">I</span>
                    <span id="u" class="letter">U</span>
                    <span id="s" class="letter">S</span>
                </span>
            </div>
        </div>
    </div>



    <!-- particles.js container -->
    <div id="particles-js"></div>

    <div class="bgimg-1">
        <div class="caption">
        </div>
    </div>

    <div id="content">
        <div id="name">
            <span class="projects">
                <span id="p" class="letter">P</span>
                <span id="r" class="letter">R</span>
                <span id="o" class="letter">O</span>
                <span id="j" class="letter">J</span>
                <span id="e" class="letter">E</span>
                <span id="c" class="letter">C</span>
                <span id="t" class="letter">T</span>
                <span id="s" class="letter">S</span>
            </span>
        </div>
    </div>

    <div class="bgimg-2">
        <div class="caption">
        </div>
    </div>

    <div>
        <div id="content">
            <div id="name">
                <span class="about">
                    <span id="a" class="letter">A</span>
                    <span id="b" class="letter">B</span>
                    <span id="o" class="letter">O</span>
                    <span id="u" class="letter">U</span>
                    <span id="t" class="letter">T</span>
                </span>
            </div>
        </div>
    </div>



    <div class="bgimg-3">
        <div class="caption">
        </div>
    </div>

    <div id="content">
        <div id="name">
            <span class="contact">
                <span id="c" class="letter">C</span>
                <span id="o" class="letter">O</span>
                <span id="n" class="letter">N</span>
                <span id="t" class="letter">T</span>
                <span id="a" class="letter">A</span>
                <span id="c" class="letter">C</span>
                <span id="t" class="letter">T</span>
            </span>
        </div>
    </div>

    <div class="bgimg-4">
        <div class="caption">
        </div>
    </div>


    <!-- <div id="particles-js"></div> -->


    <!-- scripts -->
    <script type="text/javascript" src=" ../public/javascripts/particles.js "></script>
    <script type="text/javascript" src=" ../public/javascripts/particles.min.js "></script>
    <script type="text/javascript" src="../public/javascripts/active.js "></script>
    <script type="text/javascript" src="../app.js "></script>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src=" ../public/javascripts/materialize.js "></script>
    <script type="text/javascript" src=" ../public/javascripts/materialize.min.js "></script>

</body>

</html>